<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.css'>
{{ 'tailwind-output.css' | asset_url | stylesheet_tag }}
{{ 'diamond-filters.css' | asset_url | stylesheet_tag }}

<div class='tw-p-4 md:tw-p-8'>
  <!-- Main Search View -->
  <div id='diamond-search-view'>
    <!-- Filters Section -->
    {% render 'diamond-search-filters' %}

    <!-- Results Section -->
    {% render 'diamond-search-results' %}
  </div>

  <!-- Diamond Details View -->
  {% render 'diamond-details-view' %}
</div>

<!-- Load noUiSlider first -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js' async></script>

<!-- Load JavaScript Modules in Order -->
<script src='{{ 'diamond-state.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'diamond-api.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'diamond-pricing.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'diamond-shape-icons.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'diamond-renderer.js' | asset_url }}' defer='defer'></script>

<!-- Diamond Filters Modules -->
<script src='{{ 'diamond-filters-utils.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'diamond-filters-sliders.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'diamond-filters-buttons.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'diamond-filters-tabs.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'diamond-filters-core.js' | asset_url }}' defer='defer'></script>

<script src='{{ 'diamond-ui.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'diamond-details.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'diamond-finder-init.js' | asset_url }}' defer='defer'></script>

{% schema %}
{
  "name": "Diamond Search",
  "target": "section",
  "settings": [
    {
      "type": "header",
      "content": "Natural Diamond Markup Settings"
    },
    {
      "type": "text",
      "id": "natural_0_0_5",
      "label": "Natural 0-0.5 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "natural_0_5_0_7",
      "label": "Natural 0.5-0.7 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "natural_0_7_1",
      "label": "Natural 0.7-1 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "natural_1_1_1",
      "label": "Natural 1-1.1 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "natural_1_1_1_5",
      "label": "Natural 1.1-1.5 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "natural_1_5_2",
      "label": "Natural 1.5-2 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "natural_2_3",
      "label": "Natural 2-3 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "natural_3_5",
      "label": "Natural 3-5 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "natural_5_150",
      "label": "Natural 5+ carat multiplier",
      "default": "0"
    },
    {
      "type": "header",
      "content": "Lab Diamond Markup Settings"
    },
    {
      "type": "text",
      "id": "lab_0_0_5",
      "label": "Lab 0-0.5 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "lab_0_5_0_7",
      "label": "Lab 0.5-0.7 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "lab_0_7_1",
      "label": "Lab 0.7-1 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "lab_1_1_1",
      "label": "Lab 1-1.1 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "lab_1_1_1_5",
      "label": "Lab 1.1-1.5 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "lab_1_5_2",
      "label": "Lab 1.5-2 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "lab_2_3",
      "label": "Lab 2-3 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "lab_3_5",
      "label": "Lab 3-5 carat multiplier",
      "default": "0"
    },
    {
      "type": "text",
      "id": "lab_5_150",
      "label": "Lab 5+ carat multiplier",
      "default": "0"
    }
  ]
}
{% endschema %}
